{
    "extends": ["react-app", "react-app/jest", "airbnb-base"],
    "rules": {
      "no-unused-vars": "warn",
      "quotes": ["warn", "single"],
      "jsx-quotes": ["warn", "prefer-double"],
      "prefer-const": "warn",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "linebreak-style": "off",
      "prefer-promise-reject-errors": "off",
      "no-underscore-dangle": "off",
      "class-methods-use-this": "off",
      "no-nested-ternary": "off"
    }
  }